#footnotes {
  font-size: 0.8rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  ol {
    list-style: decimal;
    line-height: 1.5;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  hr {
    background-color: #293039;
    width: 100%;
    max-width: 80ch;
    border: none;
    height: 1px;
    margin: 0 auto;
  }
}
