h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.15;

  &:hover .anchor-link {
    opacity: 1;
  }
}

.anchor-link {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 6px;
  font-size: 0.8em;
}
