.navigation a,
.navigation span {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
}

.nav-button {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  background-color: $primary;
  color: $secondary;
  cursor: pointer;
  border: none;
  align-items: center;
  margin: 0px 5px;

  &:hover {
    color: lighten($secondary, 5%);
  }
}

.nav-border {
  background-color: #1e242b;
  width: 100%;
  max-width: 80ch;
  border: none;
  height: 1px;
  padding: 0px 10px;
  margin: 0 auto;
}
