<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$ $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$ $if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$ $if(description-meta)$
    <meta name="description" content="$description-meta$" />
    $endif$
    <title>$title$</title>
    <style>
      $styles.html()$
    </style>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
    <!-- Begin Lineicons import -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
    <!-- End Lineicons import-->
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="shortcut icon"
      href="/assets/favicon-96x96.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header class="page-navigation">
      <nav class="primary-buttons">
        <ul>
          <li><a class="nav-button" href="/">Index</a></li>
        </ul>
      </nav>
      <nav class="secondary-buttons">
        <ul>
          <li>
            <a class="nav-button" href="/posts"> Posts </a>
            <a class="nav-button" href="/about.html"> About </a>
            <a class="nav-button" href="/privacy.html"> Privacy </a>
          </li>
        </ul>
      </nav>
    </header>
    <hr class="nav-border">

    <main>
      <!-- Keywords, if any. -->
      $for(keywords)$ $keywords$ $endfor$

      <!-- Table of Contents, if enabled -->
      $if(toc)$
      <nav id="$idprefix$TOC" role="doc-toc">
        $if(toc-title)$
        <h2 id="$idprefix$toc-title">$toc-title$</h2>
        $endif$ $table-of-contents$
      </nav>
      $endif$ $body$ $for(include-after)$ $include-after$ $endfor$
    </main>
    <footer>
      <div class="footer-divider"></div>
      <p>&copy; <span id="copyright"></span> NotAShelf</p>
      <div class="footer-icons">
        <a href="https://github.com/notashelf">
          <i class="lni lni-github" title="GitHub"></i>
        </a>
      </div>
    </footer>
    <script defer src="/static/scripts/copyright.js"</script>
    <script
        defer
      data-domain="blog.notashelf.dev"
      src="https://pl.notashelf.dev/js/script.file-downloads.hash.outbound-links.tagged-events.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>

        </body>
</html>
