.postss-section {
  min-width: 80%;
}

.dropdown-link {
  text-decoration: none;
  font-weight: bold;

  &:a,
  &:a:visited,
  &:a:hover {
    color: $secondary;
  }
}

.post-dropdown-item {
  background-color: lighten($primary, 6%);
  list-style: none;
  padding: 12px 10px;
  border: 1px solid darken($primary, 1%);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  margin: 20px 5px;
}

.post-dropdown-item:hover {
  background-color: lighten($primary, 4%);
  cursor: pointer;
}

.posts .nav-button {
  color: $secondary;
}

.posts .nav-button:hover {
  color: $secondary;
}

.post-image {
  width: 96px;
  height: auto;
  margin-right: 12px;
  border-radius: 4px;
  flex-shrink: 0;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 96px;

  a.dropdown-link,
  a.dropdown-link:visited {
    color: $secondary;
  }
}

.post-link {
  font-size: 1.2em;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-date {
  font-size: 0.8em;
  color: $secondary;
  margin: 4px 2px;
}

.post-description {
  font-size: 0.9em;
  color: darken($secondary, 2%);
  margin: 4px 2px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: "...";
}

.reading-time {
  font-style: italic;
  color: #666;
}
