// Define variables for colors and fonts
$primary: #000000;
$secondary: #e6e6e8;
$hover-color: #42b5ff;
$font-family-primary: "Roboto Slab", Roboto, Arial, sans-serif;
$font-family-secondary: "Courier Prime", Roboto, Arial, serif;
$font-family-pre: "source code pro", "lucida console", monospace;
$screen-tablet: 768px;
