// Define variables for colors and fonts
$primary: #0a0a0a;
$secondary: #e1e1e1;
$hover-color: #90CAF9;

$font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto Slab", Roboto, Arial, sans-serif, "Oxygen-Sans", Ubuntu, Cantarell,
  "Helvetica Neue", Helvetica, "游ゴシック", "PingFang SC", STXihei, "华文细黑",
  "Microsoft Yahei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif, serif;
$font-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Courier Prime", Roboto, Arial, sans-serif, "Oxygen-Sans", Ubuntu, Cantarell,
  "Helvetica Neue", Helvetica, "游ゴシック", "PingFang SC", STXihei, "华文细黑",
  "Microsoft Yahei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif, serif;
$font-family-pre: "Source Code Pro", "Lucida Console", monospace;

// Ensure correct unit for media queries
$screen-tablet: 768px;
